<div class="container col-md-offset-1 col-xs-offset-1 padding-40 " >


        <h1 ng-hide="$state.includes('event-ang-detail') || $state.includes('local-ang-detail')" class="pageTitleAnyPage"><span data-translate="{{vm.pageTitle}}">{{vm.pageTitle}}</span></h1>
        <h1 ng-show="$state.includes('event-ang-detail') || $state.includes('local-ang-detail')" class="pageTitleAnyPage"><span>{{pageTitle}}</span></h1>
        <span class="spantitleAnyPage" data-translate="{{vm.phrase}}"></span>
</div>
