
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myActionObjectLabel" data-translate="conocheApp.actionObject.home.createOrEditLabel">Create or edit a Action Object</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.actionObject.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.actionObject.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="conocheApp.actionObject.objectId" for="field_objectId">Object Id</label>
            <input type="number" class="form-control" name="objectId" id="field_objectId"
                    ng-model="vm.actionObject.objectId"
                    required/>
            <div ng-show="editForm.objectId.$invalid">
                <p class="help-block"
                    ng-show="editForm.objectId.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.objectId.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="conocheApp.actionObject.actionType" for="field_actionType">Action Type</label>
            <select class="form-control" name="actionType" ng-model="vm.actionObject.actionType" id="field_actionType">
                <option value="CREATE" data-translate="conocheApp.ActionType.CREATE">CREATE</option>
                <option value="UPDATE" data-translate="conocheApp.ActionType.UPDATE">UPDATE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="conocheApp.actionObject.objectType" for="field_objectType">Object Type</label>
            <select class="form-control" name="objectType" ng-model="vm.actionObject.objectType" id="field_objectType">
                <option value="USER" data-translate="conocheApp.ActionObjectType.USER">USER</option>
                <option value="LOCAL" data-translate="conocheApp.ActionObjectType.LOCAL">LOCAL</option>
                <option value="EVENT" data-translate="conocheApp.ActionObjectType.EVENT">EVENT</option>
                <option value="PROMOTION" data-translate="conocheApp.ActionObjectType.PROMOTION">PROMOTION</option>
                <option value="MESSAGE" data-translate="conocheApp.ActionObjectType.MESSAGE">MESSAGE</option>
                <option value="RATING" data-translate="conocheApp.ActionObjectType.RATING">RATING</option>
                <option value="EVENT_IMAGE" data-translate="conocheApp.ActionObjectType.EVENT_IMAGE">EVENT_IMAGE</option>
                <option value="REALTIME_EVENT_IMAGE" data-translate="conocheApp.ActionObjectType.REALTIME_EVENT_IMAGE">REALTIME_EVENT_IMAGE</option>
                <option value="LOCAL_IMAGE" data-translate="conocheApp.ActionObjectType.LOCAL_IMAGE">LOCAL_IMAGE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="conocheApp.actionObject.creationTime" for="field_creationTime">Creation Time</label>
                <div class="input-group">
                    <input id="field_creationTime" type="text" class="form-control" name="creationTime" datetime-picker="{{dateformat}}" ng-model="vm.actionObject.creationTime" is-open="vm.datePickerOpenStatus.creationTime"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.creationTime.$invalid">
                <p class="help-block"
                    ng-show="editForm.creationTime.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.creationTime.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="conocheApp.actionObject.active" for="field_active">Active</label>
                <input type="checkbox" name="active" id="field_active"
                          ng-model="vm.actionObject.active"/>
            <div ng-show="editForm.active.$invalid">
                <p class="help-block"
                    ng-show="editForm.active.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
