<div>
    <h2 data-translate="conocheApp.message.home.title">Messages</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="message-ang.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="conocheApp.message.home.createLabel">
                        Create new Message
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="payload"><span data-translate="conocheApp.message.payload">Payload</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creationTime"><span data-translate="conocheApp.message.creationTime">Creation Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userId"><span data-translate="conocheApp.message.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="eventName"><span data-translate="conocheApp.message.event">Event</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="message in vm.messages track by message.id">
                    <td><a ui-sref="message-ang-detail({id:message.id})">{{message.id}}</a></td>
                    <td>{{message.payload}}</td>
                    <td>{{message.creationTime | date:'medium'}}</td>
                    <td>
                        {{message.userId}}
                    </td>
                    <td>
                        <a ui-sref="event-ang-detail({id:message.eventId})">{{message.eventName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="message-ang-detail({id:message.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="message-ang.edit({id:message.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="message-ang.delete({id:message.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
