
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <div class="caption font-red-sunglo">
            <i class="icon-bubbles font-red-sunglo"></i>
            <span id="myUserLabel"  class="caption-subject bold uppercase" data-translate="conocheApp.message.liveMessages.comment"> Comment live</span>
        </div>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group form-md-line-input">
            <textarea type="text" class="form-control" name="payload" id="field_payload"
                    ng-model="vm.message.payload" maxlength="255"
                    required/>
            <label class="control-label" data-translate="conocheApp.message.payload" for="field_payload">Payload</label>
            <div ng-show="editForm.payload.$invalid">
                <span class="help-block"
                    ng-show="editForm.payload.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
         <span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-danger">
            <span class="glyphicon glyphicon-fire"></span>&nbsp;<span data-translate="conocheApp.message.liveMessages.commentButton">Save</span>
        </button>
    </div>
</form>
