<h3 class="text-center" ng-hide="vm.ratingLocals.length>0">No ratings yet</h3>
<div ng-show="vm.ratingLocals.length>0" class="col-lg-8 col-lg-offset-2">
    <!--<jhi-alert></jhi-alert>-->
    <div class="portlet light">
        <div class="portlet-body">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 305px;"><div class="scroller" style="height: 305px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2" data-initialized="1">
                <div class="general-item-list" ng-repeat="ratingLocal in vm.ratingLocals track by ratingLocal.id">
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details col-lg-6">
                                <img class="item-pic img-circle" src="content/images/user-unknown.jpg">
                                <a href="" class="item-name primary-link uppercase">{{ratingLocal.userLogin}}</a>
                                <span class="item-label">{{ratingLocal.creationDate}}</span>
                            </div>
                            <div class="col-lg-6">
                            <h6 class="col-lg-8">
                                 <i ng-repeat = "star in ratingLocal.stars track by $index"  class="{{star.class}}" style="font-size:15px!important; margin-bottom:8px!important;"></i>
                            </h6>
                            <h5 class="col-lg-4"> <span class="label {{ratingLocal.labelColor}}" data-translate="{{ratingLocal.qualityText}}">label</span></h5>
                            </div>
                            </div>
                        <div ng-show="ratingLocal.description" class="item-body" style="padding:0 25px;">
                            "{{ratingLocal.description}}"
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <!--<div class="container-fluid">-->
        <!--<div class="row">-->
            <!--<div class="col-xs-4 no-padding-left">-->
                <!--<button class="btn btn-primary" ui-sref="rating-local-ang.new" >-->
                    <!--<span class="glyphicon glyphicon-plus"></span>-->
                    <!--<span  data-translate="conocheApp.ratingLocal.home.createLabel">-->
                        <!--Create new Rating Local-->
                    <!--</span>-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="table-responsive">-->
        <!--<table class="jh-table table table-striped">-->
            <!--<thead>-->
                <!--<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">-->
                    <!--<th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="rating"><span data-translate="conocheApp.ratingLocal.rating">Rating</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="description"><span data-translate="conocheApp.ratingLocal.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="userDetailsId"><span data-translate="conocheApp.ratingLocal.userDetails">User Details</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="localName"><span data-translate="conocheApp.ratingLocal.local">Local</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th></th>-->
                <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
                <!--<tr ng-repeat="ratingLocal in vm.ratingLocals track by ratingLocal.id">-->
                    <!--<td><a ui-sref="rating-local-ang-detail({id:ratingLocal.id})">{{ratingLocal.id}}</a></td>-->
                    <!--<td>{{ratingLocal.rating}}</td>-->
                    <!--<td>{{ratingLocal.description}}</td>-->
                    <!--<td>-->
                        <!--{{ratingLocal.userDetailsId}}-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<a ui-sref="local-ang-detail({id:ratingLocal.localId})">{{ratingLocal.localName}}</a>-->
                    <!--</td>-->
                    <!--<td class="text-right">-->
                        <!--<div class="btn-group flex-btn-group-container">-->
                            <!--<button type="submit"-->
                                    <!--ui-sref="rating-local-ang-detail({id:ratingLocal.id})"-->
                                    <!--class="btn btn-info btn-sm">-->
                                <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                                <!--<span class="hidden-sm-down" data-translate="entity.action.view"></span>-->
                            <!--</button>-->
                            <!--<button type="submit"-->
                                    <!--ui-sref="rating-local-ang.edit({id:ratingLocal.id})"-->
                                    <!--class="btn btn-primary btn-sm">-->
                                <!--<span class="glyphicon glyphicon-pencil"></span>-->
                                <!--<span class="hidden-sm-down" data-translate="entity.action.edit"></span>-->
                            <!--</button>-->
                            <!--<button type="submit"-->
                                    <!--ui-sref="rating-local-ang.delete({id:ratingLocal.id})"-->
                                    <!--class="btn btn-danger btn-sm">-->
                                <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
                                <!--<span class="hidden-sm-down" data-translate="entity.action.delete"></span>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
        </div>
    </div>
</div>
