<h3 class="text-center" ng-hide="vm.ratingLocals.length>0">No ratings yet</h3>
<div ng-show="vm.ratingLocals.length>0" class="col-lg-8 col-lg-offset-2">
    <div class="portlet light">
        <div class="portlet-body">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 305px;"><div class="scroller" style="height: 305px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2" data-initialized="1">
                <div class="general-item-list" ng-repeat="ratingLocal in vm.ratingLocals track by ratingLocal.id">
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details col-lg-6">
                                <img class="item-pic img-circle" src="content/images/user-unknown.jpg">
                                <a href="" class="item-name primary-link uppercase">{{ratingLocal.userLogin}}</a>
                                <span class="item-label">{{ratingLocal.creationDate}}</span>
                            </div>
                            <div class="col-lg-6">
                            <h6 class="col-lg-8">
                                 <i ng-repeat = "star in ratingLocal.stars track by $index"  class="{{star.class}}" style="font-size:15px!important; margin-bottom:8px!important;"></i>
                            </h6>
                            <h5 class="col-lg-4"> <span class="label {{ratingLocal.labelColor}}" data-translate="{{ratingLocal.qualityText}}">label</span></h5>
                            </div>
                            </div>
                        <div ng-show="ratingLocal.description" class="item-body" style="padding:0 25px;">
                            "{{ratingLocal.description}}"
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
        </div>
    </div>
</div>
