
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title text-center" id="myRatingLocalLabel" data-translate="conocheApp.ratingLocal.home.createOrEditLabel">Create or edit a Rating Local</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <h1 class="text-center">
                <i  ng-class="{'yellow-star': star.paint == 1}" ng-repeat = "star in vm.stars track by $index" ng-mouseover="vm.paintStars($index)"ng-click="vm.paintStars($index)" class="fa fa-star gray-star"></i>
            </h1>
            <h5 class="text-center"> <span class="label {{vm.labelColor}}" data-translate="{{vm.qualityText}}"></span></h5>

        </div>
        <div class="form-body">
            <div class="form-group">
        <div class="form-group form-md-line-input">
            <textarea type="text" class="form-control gray-font" name="description" id="field_description"
                    ng-model="vm.ratingLocal.description"
            ></textarea>
            <label class="control-label ng-scope" data-translate="conocheApp.ratingLocal.description" for="field_description">¿Tienes algun copmentario?</label>
        </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class=""></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class=""></span>&nbsp;<span data-translate="conocheApp.ratingLocal.save">Save</span>
        </button>
    </div>
</form>
