<div>
    <h2 data-translate="conocheApp.eventImage.home.title">Event Images</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="event-image-ang.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="conocheApp.eventImage.home.createLabel">
                        Create new Event Image
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image"><span data-translate="conocheApp.eventImage.image">Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imageUrl"><span data-translate="conocheApp.eventImage.imageUrl">Image Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="eventId"><span data-translate="conocheApp.eventImage.event">Event</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="eventImage in vm.eventImages track by eventImage.id">
                    <td><a ui-sref="event-image-ang-detail({id:eventImage.id})">{{eventImage.id}}</a></td>
                    <td>
                        <a ng-if="eventImage.image" ng-click="vm.openFile(eventImage.imageContentType, eventImage.image)">
                            <img data-ng-src="{{'data:' + eventImage.imageContentType + ';base64,' + eventImage.image}}" style="max-height: 30px;" alt="eventImage image"/>
                        </a>
                        <span ng-if="eventImage.image">{{eventImage.imageContentType}}, {{vm.byteSize(eventImage.image)}}</span>
                    </td>
                    <td>{{eventImage.imageUrl}}</td>
                    <td>
                        <a ui-sref="event-ang-detail({id:eventImage.eventId})">{{eventImage.eventId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="event-image-ang-detail({id:eventImage.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="event-image-ang.edit({id:eventImage.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="event-image-ang.delete({id:eventImage.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
