<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{email.reset.title}">JHipster password reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body style="margin:0;padding:15px;background-color:#48525e;font-family:Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif;color:white;line-height:1.428571429;font-size:13px;">
<h1 style="text-align:center;">CONO<span style="color:#9749b7">CHE</span></h1>
<div style="margin:10px 5px 5px 10px;background-color:white;padding:10px;border-radius:10px;color:#6a6c6f!important;">
    <p th:text="#{email.reset.greeting(${user.email})}">

    </p>
    <p>
        Se ha solicitado el reinicio de contraseña para su cuenta de Conoche.
    </p>
    <p>Le recordamos que su nombre de usuario para iniciar sesión en nuestra página web es el siguiente:</p>
    <h2 th:text="|${user.login}|" style="text-align:center"></h2>
    <p>Por favor, haga click en el enlace de abajo para reiniciar su contraseña:</p>
    <p>
        <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}">¡Haz click para restaurar tu contraseña!</a>
    </p>
</div>
<p>
    <span th:text="#{email.reset.text2}">Regards, </span>
    <br/>
    <em>Firefly</em>
</p>
</body>

</html>
