
<div>
    <h2><span data-translate="conocheApp.promotion.detail.title">Promotion</span> {{vm.promotion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="conocheApp.promotion.description">Description</span></dt>
        <dd>
            <span>{{vm.promotion.description}}</span>
        </dd>
        <dt><span data-translate="conocheApp.promotion.imageUrl">Image Url</span></dt>
        <dd>
            <span>{{vm.promotion.imageUrl}}</span>
        </dd>
        <dt><span data-translate="conocheApp.promotion.image">Image</span></dt>
        <dd>
            <div ng-if="vm.promotion.image">
                <a ng-click="vm.openFile(vm.promotion.imageContentType, vm.promotion.image)">
                    <img data-ng-src="{{'data:' + vm.promotion.imageContentType + ';base64,' + vm.promotion.image}}" style="max-width: 100%;" alt="promotion image"/>
                </a>
                {{vm.promotion.imageContentType}}, {{vm.byteSize(vm.promotion.image)}}
            </div>
        </dd>
        <dt><span data-translate="conocheApp.promotion.initialTime">Initial Time</span></dt>
        <dd>
            <span>{{vm.promotion.initialTime | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="conocheApp.promotion.finalTime">Final Time</span></dt>
        <dd>
            <span>{{vm.promotion.finalTime | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="conocheApp.promotion.maximumCodePerUser">Maximum Code Per User</span></dt>
        <dd>
            <span>{{vm.promotion.maximumCodePerUser}}</span>
        </dd>
        <dt><span data-translate="conocheApp.promotion.codeQuantity">Code Quantity</span></dt>
        <dd>
            <span>{{vm.promotion.codeQuantity}}</span>
        </dd>
        <dt><span data-translate="conocheApp.promotion.event">Event</span></dt>
        <dd>
            <a ui-sref="event-ang-detail({id:vm.promotion.eventId})">{{vm.promotion.eventId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="promotion-ang-detail.edit({id:vm.promotion.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
