<div>
    <h2 data-translate="conocheApp.promotion.home.title">Promotions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="promotion-ang.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="conocheApp.promotion.home.createLabel">
                        Create new Promotion
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="conocheApp.promotion.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imageUrl"><span data-translate="conocheApp.promotion.imageUrl">Image Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image"><span data-translate="conocheApp.promotion.image">Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="initialTime"><span data-translate="conocheApp.promotion.initialTime">Initial Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="finalTime"><span data-translate="conocheApp.promotion.finalTime">Final Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maximumCodePerUser"><span data-translate="conocheApp.promotion.maximumCodePerUser">Maximum Code Per User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="codeQuantity"><span data-translate="conocheApp.promotion.codeQuantity">Code Quantity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="eventId"><span data-translate="conocheApp.promotion.event">Event</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="promotion in vm.promotions track by promotion.id">
                    <td><a ui-sref="promotion-ang-detail({id:promotion.id})">{{promotion.id}}</a></td>
                    <td>{{promotion.description}}</td>
                    <td>{{promotion.imageUrl}}</td>
                    <td>
                        <a ng-if="promotion.image" ng-click="vm.openFile(promotion.imageContentType, promotion.image)">
                            <img data-ng-src="{{'data:' + promotion.imageContentType + ';base64,' + promotion.image}}" style="max-height: 30px;" alt="promotion image"/>
                        </a>
                        <span ng-if="promotion.image">{{promotion.imageContentType}}, {{vm.byteSize(promotion.image)}}</span>
                    </td>
                    <td>{{promotion.initialTime | date:'medium'}}</td>
                    <td>{{promotion.finalTime | date:'medium'}}</td>
                    <td>{{promotion.maximumCodePerUser}}</td>
                    <td>{{promotion.codeQuantity}}</td>
                    <td>
                        <a ui-sref="event-ang-detail({id:promotion.eventId})">{{promotion.eventId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="promotion-ang-detail({id:promotion.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="promotion-ang.edit({id:promotion.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="promotion-ang.delete({id:promotion.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
