
<form name="editForm" role="form" novalidate ng-submit="vm.save()"  show-validation>

    <div class="modal-header caption font-red-sunglo" >
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>

        <span id="myUserLabel"  class="caption-subject bold uppercase" data-translate="conocheApp.event.home.createOrEditLabel"> Comment live</span>
    </div>
    <div class="modal-body">

        <div class="form-body ">
            <div class="col-md-6">
                <div class="form-group form-md-line-input has-info ">
                    <select class="form-control gray-font" id="field_local" name="local"  ng-model="vm.event.localId" ng-options="local.id as local.name for local in vm.locals"  required>
                        <option value="">Seleccione un local</option>
                    </select>
                    <label class="control-label font-15" data-translate="conocheApp.event.local">Local</label>
                    <span ng-show="editForm.local.$invalid" class="help-block" ng-show="editForm.local.$error.required" data-translate="entity.validation.required"></span>

                </div>

                <div class="form-group form-md-line-input">
                        <input id="field_initialTime" type="text" ng-click="vm.openCalendar('initialTime')" class="form-control" name="initialTime" datepicker-options="vm.picker1.datepickerOptions"  ng-change="vm.updatePicker()" datetime-picker="{{dateformat}}" ng-model="vm.event.initialTime" is-open="vm.datePickerOpenStatus.initialTime"
                               required/>
                    <label class="font-15" data-translate="conocheApp.event.initialTime">Initial Time</label>
                    <span ng-show="editForm.initialTime.$invalid" class="help-block" ng-show="editForm.initialTime.$error.required" data-translate="entity.validation.required"></span>

                </div>
                <div class="form-group form-md-line-input">
                <textarea class="form-control gray-font" rows="2" name="details" id="field_details" style="min-height:180px;"
                          ng-model="vm.event.details" required></textarea>
                    <label class="control-label font-15" data-translate="conocheApp.event.details" for="field_details">Details</label>
                    <span ng-show="editForm.details.$invalid" class="help-block" ng-show="editForm.details.$error.required" data-translate="entity.validation.required"></span>

                </div>
                <label class="control-label gray-font font-15" data-translate="conocheApp.event.banner" for="field_banner">Banner</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group form-md-line-input">
                        <input type="text" class="form-control gray-font" name="name" id="field_name" ng-model="vm.event.name" required>
                        <label class="control-label font-15" data-translate="conocheApp.event.name" for="field_name">Name</label>
                        <span ng-show="editForm.name.$invalid" class="help-block" ng-show="editForm.name.$error.required" data-translate="entity.validation.required"></span>
                    </div>
                </div>
                <div class="form-group form-md-line-input">
                        <input id="field_finalTime" type="text" name="finalTime"  ng-click="vm.openCalendar('finalTime')" class="form-control" ng-change="vm.updatePicker()" datepicker-options="vm.picker2.datepickerOptions"  name="finalTime" datetime-picker="{{dateformat}}" ng-model="vm.event.finalTime" is-open="vm.datePickerOpenStatus.finalTime"
                               required/>
                    <label class="font-15" data-translate="conocheApp.event.finalTime" for="field_finalTime">Final Time</label>
                    <span ng-show="editForm.finalTime.$invalid" class="help-block" ng-show="editForm.finalTime.$error.required" data-translate="entity.validation.required"></span>


                </div>
                <div class="form-group">
                    <div class="form-group form-md-line-input">
                        <input type="text" class="form-control gray-font" name="price" id="field_price" ng-model="vm.event.price" required>
                        <label class="control-label font-15" data-translate="conocheApp.event.price" for="field_price">Price</label>
                        <span ng-show="editForm.price.$invalid" class="help-block" ng-show="editForm.price.$error.required" data-translate="entity.validation.required"></span>

                    </div>
                </div>
                <div class="form-group gray-font">
                    <label class="control-label gray-font font-15" data-translate="conocheApp.event.services" for="field_services">Services</label>
                    <select class="form-control gray-font" id="field_services" multiple name="services" ng-model="vm.event.services" ng-options="servicio as servicio.descripcion for servicio in vm.servicios track by servicio.id" required></select>
                </div>

            </div>

        </div>
        <div class="form-group padding-20" ngf-drop ngf-change="vm.setBanner($file, vm.event)" ngf-pattern="'image/*'">


            <div>

                <img data-ng-src="{{'data:' + vm.event.bannerContentType + ';base64,' + vm.event.banner}}" class="col-md-12 crop-400 col-lg-12 col-sm-12 col-xs-12" ng-if="vm.event.banner" alt="event image"/>
                <div ng-if="vm.event.banner" class="help-block clearfix">

                </div>
                <button type="button" ngf-select class="btn btn-default btn-block gray-font"
                        ngf-change="vm.setBanner($file, vm.event)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="banner" id="field_banner"
                    ng-model="vm.event.banner"
                    />
            <input type="hidden" class="form-control" name="bannerContentType" id="field_bannerContentType"
                    ng-model="vm.event.bannerContentType" />
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
