<!--<div class="col-md-12 no-padding margin-bottom-15" style="height: 100px; background-color:#eff3f8;">-->
    <!--<h1 class="font-green-haze bold margin-bottom-40 col-md-9 no-padding" >Lista de eventos</h1>-->

<!--</div>-->

<!--<div>-->

    <jhi-alert></jhi-alert>
    <div class="no-display" id="tableData">
    <div class="col-md-9 ">
        <div ng-repeat="event in vm.events track by event.id" >
            <div class="col-md-12 E0E0E0-background margin-bottom-20 bottom-border-gray "
                 ui-sref="event-ang-detail({id:event.id})">
                <div class="col-md-5 no-padding-left padding-15 position-relative font-18 text-center" >
                    <div id="info-date-event" class="col-md-2 padding-10 font-white"><span><span class="font-24">{{event.initialTime| date:'d'}} </span>{{event.initialTime| date:'MMM'}}</span></div>
                    <img class="col-md-12 crop no-padding"  style="z-index: 0;" data-ng-src="{{'data:' + event.bannerContentType + ';base64,' +
                         event.banner}}" alt="event image"/>
                </div>
                <div class="col-md-7 gray-font">
                    <h1 class="font-24  Raleway" style="text-transform: uppercase;">{{event.name}}</h1>
                    <span class="margin-top-5 light-gray-font"> <i class="fa fa-clock-o" aria-hidden="true" ></i> {{event.initialTime
                        | date:'h:mm a'}}</span> - <span class="margin-top-5 light-gray-font">{{event.finalTime | date:'h:mm a'}}</span>&nbsp&nbsp/&nbsp&nbsp<span class="margin-top-5 light-gray-font"> <i class="fa fa-money " aria-hidden="true" ></i> </i> {{event.price}} colones</span>
                    &nbsp&nbsp
                    <p class="margin-top-40 ">{{event.details | limitTo:200}}{{event.details.length > 20 ? '...' : ''}}</p>

                    <button type="submit "
                    ui-sref="event-ang-detail({id:event.id})"
                    class="btn btn-danger  btn-sm border-radius-6 padding-10 col-md-offset-9 col-md-3">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                    </button>

                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3 " >

            <span class="font-18 ">Promociones</span>


    </div>
    </div>
    <div class="col-md-12 text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
