<div>
    <div class="col-md-12 margin-bottom-20">
        <div class="col-md-offset-9 col-md-3">
            <div has-authority="ROLE_OWNER" ui-sref="event-ang-by-owner.new" class="btn btn-primary btn-block btn-lg border-radius-6 col-md-3">    <span class="glyphicon glyphicon-plus"></span>
                <span  data-translate="conocheApp.event.home.createLabel"></span></div>
        </div>

    </div>
    <jhi-alert></jhi-alert>
    <div class="col-md-12 no-display" id="tableData">
        <div ng-repeat="event in vm.events track by event.id" >
            <div class="col-md-12 F9F9F9-background margin-bottom-20 bottom-border-gray " style="padding:20px;" >
                <div class="col-md-5 no-padding-left padding-15 position-relative font-18 text-center" >
                    <div id="info-date-event" class="col-md-2 padding-10 font-white"><span><span class="font-24">{{event.initialTime| date:'d'}} </span>{{event.initialTime| date:'MMM'}}</span></div>
                    <img class="col-md-12 crop no-padding"  style="z-index: 0;" data-ng-src="{{'data:' + event.bannerContentType + ';base64,' +
                         event.banner}}" alt="event image"/>
                </div>
                <div class="col-md-7 gray-font">
                    <h1 class="font-24  Raleway" style="color: #5cb9ff; text-transform: uppercase;">{{event.name}}</h1>
                    <span class="margin-top-5"> <i class="fa fa-clock-o" aria-hidden="true" ></i> {{event.initialTime
                        | date:'h:mm a'}}</span> - <span class="margin-top-5">{{event.finalTime | date:'h:mm a'}}</span>&nbsp&nbsp/&nbsp&nbsp<span class="margin-top-5"> <i class="fa fa-money " aria-hidden="true" ></i> </i> {{event.price}} colones</span>
                    &nbsp&nbsp
                    <p class="margin-top-40 ">{{event.details | limitTo:200}}{{event.details.length > 20 ? '...' : ''}}</p>

                    <button type="submit "
                            ui-sref="event-ang-detail({id:event.id})"
                            class="btn btn-danger green-2-background btn-sm border-radius-6 padding-10 ">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                    </button>
                    <!--<button has-authority="ROLE_OWNER"  type="submit"-->
                            <!--ui-sref="event-ang.edit({id:event.id})"-->
                            <!--class="btn btn-primary btn-sm border-radius-6 padding-10">-->
                        <!--<span class="glyphicon glyphicon-pencil"></span>-->
                        <!--<span class="hidden-sm-down" data-translate="entity.action.edit"></span>-->
                    <!--</button>-->
                    <button has-authority="ROLE_OWNER" type="submit"
                            ui-sref="event-ang-by-owner.delete({id:event.id})"
                            class="btn btn-danger btn-sm border-radius-6 padding-10">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                    </button>
                </div>

            </div>
        </div>
    </div>


    <div class="col-md-12 text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
