<div class="gray-font">
    <h2 style="font-size:35px; " class="bold">{{vm.event.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
        <div class="col-md-12 margin-top-20">
            <div ng-if="vm.event.banner" class="col-md-9 no-padding-left margin-bottom-40">
                <a ng-click="vm.openFile(vm.event.bannerContentType, vm.event.banner)">
                    <img data-ng-src="{{'data:' + vm.event.bannerContentType + ';base64,' + vm.event.banner}}" class="col-md-12" alt="event image" />
                </a>
            </div>

            <div class="col-md-3 no-padding-left">
                <div class=" no-padding E0E0E0-background" id="event-info">
                    <h4 class="padding-10 text-center bold" >Información de evento</h4>
                </div>
                <div class="padding-15 font-15 white-background margin-bottom-20" id="event-info-content">
                    <ul class="no-list-style no-padding-left ">
                        <li class="margin-10">
                            <i class="fa fa-calendar" aria-hidden="true"></i> <span> 31 de marzo, 2017</span>
                        </li>
                        <li class="margin-10">
                            <i class="fa fa-clock-o" aria-hidden="true"></i> <span> 20:00 - 22:00</span>
                        </li>
                        <li class="margin-10">
                            <i class="fa fa-map-marker" aria-hidden="true"></i> <span> Desamparados, San José</span>
                        </li>
                        <li class="margin-10">
                            <i class="fa fa-usd" aria-hidden="true"></i> <span> 3000 colones</span>
                        </li>

                    </ul>
                </div>
                <a href="" class="btn btn-success btn-block btn-lg 5cb85c-background border-radius-6"
                   style="background-color:#5cb85c!Important">Ver actividad en vivo</a>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-9">
                <h2 class="bold font-20 margin-bottom-40 ">Detalles</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, voluptatum, amet, eius esse sit praesentium similique tenetur accusamus deserunt modi dignissimos debitis consequatur facere unde sint quasi quae architecto eum!

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, nesciunt, sapiente, distinctio obcaecati dolores perspiciatis eveniet adipisci repellendus consequatur ab officiis ipsa laudantium! Provident expedita odio iste corporis nam natus illum. Cupiditate, quis libero distinctio reiciendis quos adipisci eius animi.
                </p>
            </div>
            <div class=" col-md-3 no-padding">
                <h2 class="font-20 margin-bottom-20 ">Ubicación</h2>
                <div style="background:url('content/images/mapa.png')"></div>
                <img src="content/images/mapa.png" class="col-md-12 no-padding-left" alt="">
            </div>
        </div>


        <!---->
        <!--<dt><span data-translate="conocheApp.event.name">Name</span></dt>-->
        <!--<dd>-->
        <!--<span>{{vm.event.name}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="conocheApp.event.details">Details</span></dt>-->
        <!--<dd>-->
        <!--<span>{{vm.event.details}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="conocheApp.event.price">Price</span></dt>-->
        <!--<dd>-->
        <!--<span>{{vm.event.price}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="conocheApp.event.banner">Banner</span></dt>-->
        <!--<dd>-->

        <!--</dd>-->
        <!--<dt><span data-translate="conocheApp.event.bannerUrl">Banner Url</span></dt>-->
        <!--<dd>-->
        <!--<span>{{vm.event.bannerUrl}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="conocheApp.event.initialTime">Initial Time</span></dt>-->
        <!--<dd>-->
        <!--<span>{{vm.event.initialTime | date:'medium'}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="conocheApp.event.finalTime">Final Time</span></dt>-->
        <!--<dd>-->
        <!--<span>{{vm.event.finalTime | date:'medium'}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="conocheApp.event.attendingUsers">Attending Users</span></dt>-->
        <!--<dd>-->
        <!--<span ng-repeat="attendingUsers in vm.event.attendingUsers">-->
        <!--{{attendingUsers.id}}{{$last ? '' : ', '}}-->
        <!--</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="conocheApp.event.services">Services</span></dt>-->
        <!--<dd>-->
        <!--<span ng-repeat="services in vm.event.services">-->
        <!--<a ui-sref="servicio-ang-detail({id: services.id})">{{services.id}}</a>{{$last ? '' : ', '}}-->
        <!--</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="conocheApp.event.local">Local</span></dt>-->
        <!--<dd>-->
        <!--<a ui-sref="local-ang-detail({id:vm.event.localId})">{{vm.event.localName}}</a>-->
        <!--</dd>-->
    </div>

    <button type="submit" ui-sref="{{ vm.previousState }}" class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="event-ang-detail.edit({id:vm.event.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
