<div>
    <h2 data-translate="conocheApp.realTimeEventImage.home.title">Real Time Event Images</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="real-time-event-image-ang.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="conocheApp.realTimeEventImage.home.createLabel">
                        Create new Real Time Event Image
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image"><span data-translate="conocheApp.realTimeEventImage.image">Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imageUrl"><span data-translate="conocheApp.realTimeEventImage.imageUrl">Image Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creationTime"><span data-translate="conocheApp.realTimeEventImage.creationTime">Creation Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="conocheApp.realTimeEventImage.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="eventId"><span data-translate="conocheApp.realTimeEventImage.event">Event</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="realTimeEventImage in vm.realTimeEventImages track by realTimeEventImage.id">
                    <td><a ui-sref="real-time-event-image-ang-detail({id:realTimeEventImage.id})">{{realTimeEventImage.id}}</a></td>
                    <td>
                        <a ng-if="realTimeEventImage.image" ng-click="vm.openFile(realTimeEventImage.imageContentType, realTimeEventImage.image)">
                            <img data-ng-src="{{'data:' + realTimeEventImage.imageContentType + ';base64,' + realTimeEventImage.image}}" style="max-height: 30px;" alt="realTimeEventImage image"/>
                        </a>
                        <span ng-if="realTimeEventImage.image">{{realTimeEventImage.imageContentType}}, {{vm.byteSize(realTimeEventImage.image)}}</span>
                    </td>
                    <td>{{realTimeEventImage.imageUrl}}</td>
                    <td>{{realTimeEventImage.creationTime | date:'medium'}}</td>
                    <td>{{realTimeEventImage.description}}</td>
                    <td>
                        <a ui-sref="event-ang-detail({id:realTimeEventImage.eventId})">{{realTimeEventImage.eventId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="real-time-event-image-ang-detail({id:realTimeEventImage.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="real-time-event-image-ang.edit({id:realTimeEventImage.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="real-time-event-image-ang.delete({id:realTimeEventImage.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
