<div>
    <h2 data-translate="conocheApp.realTimeEventImage.home.title">Real Time Event Images</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="real-time-event-image-gallery.savews({idEvent:  vm.idEvent})">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="conocheApp.realTimeEventImage.home.createLabel">
                        Create new Real Time Event Image
                    </span>
                </button>
            </div>
        </div>
    </div>



    <div masonry load-images="true">
        <div class="masonry-brick" ng-repeat="realTimeEventImage in vm.realTimeEventImages track by realTimeEventImage.id">
            <div class="view view-first">
                <cl-image public-id="{{realTimeEventImage.imageUrl}}" class="thumbnail inline">
                    <cl-transformation  width="300" crop="scale" radius="10"/>
                </cl-image>
                <div class="mask">
                    <a href="" class="btn btn-icon-only purple pull-left">
                        <i class="fa fa-times"></i>
                    </a>
                    <a href="" class="btn btn-icon-only purple pull-left">
                        <i class="fa fa-arrows-alt"></i>
                    </a>
                    <p ng-if="realTimeEventImage.description">{{realTimeEventImage.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
