<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation >

    <div class="modal-header col-md-12 caption font-red-sunglo" >
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
    </div>
    <div class="modal-body col-md-12">
        <h1 class="pageTitleAnyPage col-md-12 text-center" >{{vm.promotion.description}}</h1>
        <div class="form-body ">
            <div class="col-md-6 no-padding">
                    <img  ng-show="vm.promotion.image" data-ng-src="{{'data:' + vm.promotion.imageContentType + ';base64,' + vm.promotion.image}}"  class="col-md-12 col-sm-12 col-xs-12 crop-340" ng-if="vm.promotion.image" alt="promotion image"/>
                <img ng-hide="vm.promotion.image" src="content/images/defaultPromoImg.png"  class="col-md-12 col-sm-12 col-xs-12 crop-340" alt="promotion image"/>

            </div>
            <div class="col-md-6 no-padding gray-font">
                <span class="Raleway font-18 col-md-12" style="text-transform: uppercase;"><i class="fa fa-home font-20" style="color: #607D8B"></i> Bar las teticas</span>
                <span class="Raleway font-18 col-md-12 margin-top-20" style="text-transform: uppercase;"><i class="fa fa-fire font-20" style="color: #607D8B" ></i> REGGAE NIGHT CREW </span>
                <div class="col-md-12 col-lg-12 col-sm-6 col-xs-12 margin-top-20">
                <span has-authority="ROLE_USER"class="Raleway font-16 col-md-6 ">Códigos disponibles: {{vm.availableCodes}}</span>
                <span  has-authority="ROLE_USER" class="Raleway font-16 col-md-6 " >Puedes solicitar: {{vm.availableCodesPerUser}}</span>
                </div>

                <div class="col-md-12 text-  haer margin-top-20 border-radius-6 padding-20"  style="background-color:#EEEEEE;">
                    <span class="Raleway font-24 bold font-white no-padding" style="color: #823e9e">Termina en</span>
                    <h2 class="font-40 bold font-white" style="color: #823e9e"><timer end-time="vm.promotion.finalTime">
                        <span class=" col-md-3 col-md-offset-1 text-center"><span class="col-md-12 text-center">{{hours}}</span><div class="font-15">Horas</div> </span> <span class=" col-md-3"><span class="col-md-12 text-center">{{minutes}}</span><div class="font-15">Minutos</div></span>  <span class=" col-md-3"><span class="col-md-12 text-center">{{seconds}}</span><div class="font-15">Segundos</div></span></timer></h2>
                </div>
                    <div class="col-md-offset-1 col-md-10 col-lg-10 margin-top-20 ">
                    <button has-authority="ROLE_USER" ng-click="vm.redeemCode()" ng-show="vm.availableCodesPerUser>0" type="button" class="btn btn-primary padding-10 border-radius-6 font-18 green-2-background col-md-12">
                      <span data-translate="conocheApp.promotion.obtainCode">Redimir código</span>
                    </button>
                </div>

            </div>

        </div>


    </div>

    <div class="modal-footer">

    </div>
</form>
