<div>
    <h2 data-translate="conocheApp.local.home.title">Locals</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="local-ang.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="conocheApp.local.home.createLabel">
                        Create new Local
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="conocheApp.local.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="longitud"><span data-translate="conocheApp.local.longitud">Longitud</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="banner"><span data-translate="conocheApp.local.banner">Banner</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bannerUrl"><span data-translate="conocheApp.local.bannerUrl">Banner Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="latitud"><span data-translate="conocheApp.local.latitud">Latitud</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="descripcion"><span data-translate="conocheApp.local.descripcion">Descripcion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="provincia"><span data-translate="conocheApp.local.provincia">Provincia</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="localCategoryName"><span data-translate="conocheApp.local.localCategory">Local Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ownerLogin"><span data-translate="conocheApp.local.owner">Owner</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="local in vm.locals track by local.id">
                    <td><a ui-sref="local-ang-detail({id:local.id})">{{local.id}}</a></td>
                    <td>{{local.name}}</td>
                    <td>{{local.longitud}}</td>
                    <td>
                        <a ng-if="local.banner" ng-click="vm.openFile(local.bannerContentType, local.banner)">
                            <img data-ng-src="{{'data:' + local.bannerContentType + ';base64,' + local.banner}}" style="max-height: 30px;" alt="local image"/>
                        </a>
                        <span ng-if="local.banner">{{local.bannerContentType}}, {{vm.byteSize(local.banner)}}</span>
                    </td>
                    <td>{{local.bannerUrl}}</td>
                    <td>{{local.latitud}}</td>
                    <td>{{local.descripcion}}</td>
                    <td data-translate="{{'conocheApp.Provincia.' + local.provincia}}">{{local.provincia}}</td>
                    <td>
                        <a ui-sref="category-detail({id:local.localCategoryId})">{{local.localCategoryName}}</a>
                    </td>
                    <td>
                        {{local.ownerLogin}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="local-ang-detail({id:local.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="local-ang.edit({id:local.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="local-ang.delete({id:local.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
