<div class="gray-font">

    <!--<jhi-alert-error></jhi-alert-error>-->
    <div class="row">
        <div class="col-md-12 margin-top-20">
            <div class="col-md-9 no-padding-left margin-bottom-40">
                <a ng-click="vm.openFile(vm.local.bannerContentType, vm.local.banner)">
                    <img ng-show="vm.local.banner" data-ng-src="{{'data:' + vm.local.bannerContentType + ';base64,' + vm.local.banner}}" class="col-md-12 col-sm-12 col-xs-12 crop-400" alt="local image" />
                    <img ng-hide="vm.local.banner" src="content/images/defaultLocalImg.png"  class="col-md-12 col-sm-12 col-xs-12 " alt="local image" />

                </a>

                    <div class="col-md-9 margin-top-40">
                        <h2 class="bold font-20 margin-bottom-40 ">Detalles</h2>
                        <p>{{vm.local.descripcion}}</p>

                    </div>

            </div>

            <div class="col-md-3 no-padding-left">


                <button has-authority="ROLE_USER" type="button" ng-click="vm.subscribeLocal()"  ng-if="vm.local.flag == 0"  class="btn green btn-block btn-lg  border-radius-6 no-margin-left">
                    <span class="glyphicon glyphicon-eye"></span>
                    <span class="hidden-sm-down" data-translate="conocheApp.local.subscribeButton">Suscribe</span>
                </button>


                <button has-authority="ROLE_USER" type="button" ng-click="vm.unsubscribeLocal()"  ng-if="vm.local.flag == 1"  class="btn btn-danger btn-block btn-lg  border-radius-6 no-margin-left">
                    <span class="glyphicon glyphicon-eye"></span>
                    <span class="hidden-sm-down" data-translate="conocheApp.local.unsubscribeButton">Desuscribe</span>
                </button>


                <button has-authority="ROLE_USER"  type="button" ui-sref="local-ang-detail.newRating" class="btn btn-info btn-block btn-lg border-radius-6 " style="margin: 5px 0!important" translate="conocheApp.local.rate">Calificar</button>

                <div class="row">
                    <h2 style="margin-top: 20px;" >Ubicación</h2>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62879.68180623252!2d-84.14836476683935!3d9.935612431123712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e342c50d15c5%3A0xe6746a6a9f11b882!2sProvincia+de+San+Jos%C3%A9%2C+San+Jos%C3%A9!5e0!3m2!1ses!2scr!4v1493426945286" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>


                </div>

            </div>

            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li ui-sref-active="active"><a ui-sref="local-ang-detail.event-location"
                                               translate="conocheApp.local.tabs.location">Location</a></li>
                <li ui-sref-active="active"><a ui-sref="local-ang-detail.rating-local-ang"
                                               translate="conocheApp.local.tabs.comments">Comments</a></li>
            </ul>
            <div class="tab-content no-padding">
                <div class="tab-pane active">
                    <div ui-view="localContent"></div>
                </div>
            </div>


        </div>


    </div>
</div>
