<div class="gray-font">

    <!--<jhi-alert-error></jhi-alert-error>-->
    <div class="row">
        <div class="col-md-12 margin-top-20">
            <div ng-if="vm.local.banner" class="col-md-9 no-padding-left margin-bottom-40">
                <a ng-click="vm.openFile(vm.local.bannerContentType, vm.local.banner)">
                    <img data-ng-src="{{'data:' + vm.local.bannerContentType + ';base64,' + vm.local.banner}}" class="col-md-12" alt="local image" />
                </a>

                    <div class="col-md-9 margin-top-40">
                        <h2 class="bold font-20 margin-bottom-40 ">Detalles</h2>
                        <p>{{vm.local.descripcion}}</p>

                    </div>

            </div>

            <div class="col-md-3 no-padding-left">

                <button type="button" class="btn btn-danger btn-block btn-lg">Suscribete!</button>
                <button has-authority="ROLE_USER"  type="button" ui-sref="local-ang-detail.newRating" class="btn btn-warning btn-block btn-lg" style="margin: 5px 0!important" translate="conocheApp.local.rate">Calificar</button>

                <div class="row">
                    <h2 style="margin-top: 20px;" >Ubicación</h2>
                    <iframe class="center-block" style="width: 100%; border:0;"
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7860.830055475477!2d-84.07131672659627!3d9.899349254780143!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe95f682d645a8951!2sMulticentro+Desamparados!5e0!3m2!1ses!2scr!4v1489628377455"
                            height="300" frameborder="0" allowfullscreen></iframe>


                </div>

            </div>

            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li ui-sref-active="active"><a ui-sref="local-ang-detail.event-location"
                                               translate="conocheApp.local.tabs.location">Location</a></li>
                <li ui-sref-active="active"><a ui-sref="local-ang-detail.rating-local-ang"
                                               translate="conocheApp.local.tabs.comments">Comments</a></li>
            </ul>
            <div class="tab-content no-padding">
                <div class="tab-pane active">
                    <div ui-view="localContent"></div>
                </div>
            </div>


        </div>


    </div>

</div>
