
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLocalLabel" data-translate="conocheApp.local.home.createOrEditLabel">Create or edit a Local</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.local.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.local.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="conocheApp.local.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.local.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setBanner($file, vm.local)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="conocheApp.local.banner" for="field_banner">Banner</label>
            <div>
                <img data-ng-src="{{'data:' + vm.local.bannerContentType + ';base64,' + vm.local.banner}}" style="max-height: 100px;" ng-if="vm.local.banner" alt="local image"/>
                <div ng-if="vm.local.banner" class="help-block clearfix">
                    <span class="pull-left">{{vm.local.bannerContentType}}, {{vm.byteSize(vm.local.banner)}}</span>
                    <button type="button" ng-click="vm.local.banner=null;vm.local.bannerContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setBanner($file, vm.local)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="banner" id="field_banner"
                    ng-model="vm.local.banner"
                    />
            <input type="hidden" class="form-control" name="bannerContentType" id="field_bannerContentType"
                    ng-model="vm.local.bannerContentType" />
        </div>
        <div class="form-group">
            <label data-translate="conocheApp.local.localCategory" for="field_localCategory">Local Category</label>
            <select class="form-control" id="field_localCategory" name="localCategory" ng-model="vm.local.localCategoryId" ng-options="category.id as category.name for category in vm.categories"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="conocheApp.local.descripcion" for="field_descripcion">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                    ng-model="vm.local.descripcion"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="conocheApp.local.provincia" for="field_provincia">Provincia</label>
            <select class="form-control" name="provincia" ng-model="vm.local.provincia" id="field_provincia">
                <option value="SAN_JOSE" data-translate="conocheApp.Provincia.SAN_JOSE">SAN_JOSE</option>
                <option value="ALAJUELA" data-translate="conocheApp.Provincia.ALAJUELA">ALAJUELA</option>
                <option value="CARTAGO" data-translate="conocheApp.Provincia.CARTAGO">CARTAGO</option>
                <option value="GUANACASTE" data-translate="conocheApp.Provincia.GUANACASTE">GUANACASTE</option>
                <option value="LIMON" data-translate="conocheApp.Provincia.LIMON">LIMON</option>
                <option value="HEREDIA" data-translate="conocheApp.Provincia.HEREDIA">HEREDIA</option>
                <option value="PUNTARENAS" data-translate="conocheApp.Provincia.PUNTARENAS">PUNTARENAS</option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="conocheApp.local.services" for="field_services">Services</label>
            <select class="form-control" id="field_services" multiple name="services" ng-model="vm.local.services" ng-options="servicio as servicio.descripcion for servicio in vm.servicios track by servicio.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
