<div id="all" style="display:none;">
<div id="wrapper"  class="wrapper-flexi">
    <!-- Start Header -->
    <div id="header">

        <div class="container">
            <div class="row">
                <div class="span12">

                    <h1 style="color:white"><a ui-sref="home">Conoche</a></h1>


                    <!-- Start Menu -->
                    <div id="menu">
                        <ul>
                            <li class="current"><a ui-sref="home">Visita conoche</a></li>
                        </ul>
                    </div>
                    <!-- End Menu -->

                </div>
                <div class="clearfix"></div>
            </div>

        </div>

    </div>
    <!-- End Header -->

    <!-- Start Content -->

    <div class="container">

        <div class="row">

            <div class="span2">&nbsp;</div>

            <div class="span8">

                <div class="inner intro align-center">
                    <h1>¿Buscando <span><a ui-sref="home" style="color:white;text-decoration:none">conocer</a></span> nuevos lugares?</h1>
                    <h2>Encuentra los mejores lugares y eventos cerca de tí</h2>
                </div>

            </div>

        </div>
        <div class="clearfix"></div>

        <div class="featured">

            <img src="content/landing-page/images/1.png" alt="Desktop Screenshots" class="promoimg">
            <div class="clearfix"></div>

        </div>

    </div>

    <!-- End content -->

    <div class="clearfix"></div>

</div>
<div class="strip features">

    <div class="container">

        <div class="row">

            <div class="span3">

                <div class="inner">

                    <span class="glyph-item mega icon-screen-desktop" aria-hidden="true"></span>

                    <h3>Responsive</h3>

                    <p>Se adapta a cualquier pantalla de una forma sútil y amigable</p>

                </div>

            </div>

            <div class="span3">

                <div class="inner">

                    <span class="glyph-item mega icon-emotsmile" aria-hidden="true"></span>

                    <h3>Simple &amp; Fácil</h3>

                    <p>Con una interfaz amigable y sencilla encontrarás lo que necesites simple y rápido</p>

                </div>

            </div>

            <div class="span3">

                <div class="inner">

                    <span class="glyph-item mega icon-support" aria-hidden="true"></span>

                    <h3>Soporte Excelente</h3>

                    <p>Soporte excelente al promocionar tus locales y eventos</p>

                </div>

            </div>

            <div class="span3">

                <div class="inner">

                    <span class="glyph-item mega icon-screen-smartphone" aria-hidden="true"></span>

                    <h3>Adaptado para móviles</h3>

                    <p>Con una versiòn mòvil para optimizar la experiencia de usuario</p>

                </div>

            </div>

            <div class="clearfix"></div>

        </div>

    </div>

</div>
<div class="strip highlight strip-alt">

    <div class="container">

        <div class="row">

            <div class="span6">

                <div class="inner inner-text">

                    <h2>Imagenes <span style="color: rgb(75, 178, 236);">en tiempo real</span></h2>

                    <h4>¿Quieres conocer el ambiente de los eventos? </h4>

                    <p>Podrás ver imagenes de usuarios en eventos en vivo, asi como subir tus propias imágenes tambien.
                        ¡Comparte tu fiesta con el mundo!
                    </p>

                </div>

            </div>

            <div class="span6">

                <div class="inner">

                    <img src="content/landing-page/images/2.png" alt="Desktop" class="promoimg">

                </div>

            </div>

            <div class="clearfix"></div>

        </div>

    </div>

</div>

<div class="strip highlight">

    <div class="container">

        <div class="row">

            <div class="span6">

                <div class="inner">

                    <img src="content/landing-page/images/3.png" alt="Desktop" class="promoimg">

                </div>

            </div>

            <div class="span6">

                <div class="inner inner-text">

                    <h2>Mensajes <span style="color: rgb(75, 178, 236);">en vivo</span></h2>

                    <h4>Comenta en vivo los eventos</h4>

                    <p>¿Quieres decirle al mundo que opinas de tu evento favorito? ¡Hazlo!
                        Podrás compartir tu opinión de los eventos en vivo con todos los usuarios. </p>

                </div>

            </div>

            <div class="clearfix"></div>

        </div>

    </div>

</div>
<div id="footer">

    <p>
        <a href="#"><span class="glyph-item mega icon-social-youtube" aria-hidden="true"></span></a>
        <a href="#"><span class="glyph-item mega icon-social-twitter" aria-hidden="true"></span></a>
        <a href="#"><span class="glyph-item mega icon-social-tumblr" aria-hidden="true"></span></a>
        <a href="#"><span class="glyph-item mega icon-social-facebook" aria-hidden="true"></span></a>
        <a href="#"><span class="glyph-item mega icon-social-dropbox" aria-hidden="true"></span></a>
        <a href="#"><span class="glyph-item mega icon-social-dribbble" aria-hidden="true"></span></a>
    </p>

    Firefly © 2017

    <div class="clearfix"></div>

</div>
</div>
