

.masondry-overlay-view {
    float: left;
}
.masondry-overlay-mask {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.masondry-overlay-view p {
    color: #FFFFFF;
    text-align: center !important;
    position: relative;
    font-size: 22px;
    padding: 10px;
    word-wrap: break-word;
    font-family: 'Amatic SC', cursive;
    margin: 15% 0% 0% 0% !important;
}

.masondry-overlay-view span {
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'Amatic SC', cursive;
}

.masondry-overlay-view a {
    border-radius: 50% !important;

    /* width: 100%; */
    /* border: 0; */
    /* padding: 1em 1.5em; */
    /* margin: 0 1em 0 0; */
    /* font-size: 1em; */
    /* line-height: 3em; */
    /* border: solid 1px #06507b; */
}

.masondry-overlay-view-first .masondry-overlay-mask {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease-in-out;
}
.masondry-overlay-view-first p {
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.masondry-overlay-view-first span {
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.masondry-overlay-view-first a{
    transform: rotateX( 90deg );
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.masondry-overlay-view-first:hover .masondry-overlay-mask {
    opacity: 1;
}

.masondry-overlay-view-first:hover p {
    opacity: 1;
    transform: translateY(0%);
}

.masondry-overlay-view-first:hover span {
    opacity: 1;
    transform: translateX(0%);
}


.masondry-overlay-view-first:hover a {
    opacity: 0.7;
    transform: rotateX( 0deg );
}

.masondry-overlay-view-first:hover p {
    transition-delay: 0.1s;
}


/*Oder overlay*/




.snip1566 {
    position: relative;
    display: inline-block;
    margin: 10px;
    max-width: 190px;
    width: 100%;
    color: rgba(126,87,194 ,1);
    font-size: 16px;
    box-shadow: none !important;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    width: 50px;
    height: 50px;
}

.snip1566 *,
.snip1566:before,
.snip1566:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.snip1566:before,
.snip1566:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    border: 2px solid #8E80C2;
    border-color: transparent #8E80C2;
}

.snip1566 div {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    border-radius: 50%;
    padding: 10px;
}

.snip1566 figcaption {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    opacity: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.snip1566 i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 4em;
    z-index: 1;
}

.snip1566 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.snip1566:hover figcaption,
.snip1566.hover figcaption {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.snip1566:hover:before,
.snip1566.hover:before,
.snip1566:hover:after,
.snip1566.hover:after {
    border-width: 10px;
}

.snip1566:hover:before,
.snip1566.hover:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.snip1566:hover:after,
.snip1566.hover:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*Particles*/
.particle-logo {
    margin: 15px 0 0 0;
}

/*Centered image overlay*/

.image-overlay-position{
    text-align: center;
    cursor: default;
    margin: 0 0 22px 0;
}

.image-overlay-container {
    display: inline-block;
    position: relative;
}

.image-overlay-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0%;
    left: 0%;
}
.image-overlay-container image{
    display: block;
    position: relative
}

.image-overlay-container p {
    color: #FFFFFF;
    text-align: center;
    position: relative;
    font-size: 25px;
    padding: 10px;
    margin: 10% 0% 0% 0%;
    word-wrap: break-word;
    font-family: 'Amatic SC', cursive;
}

.image-overlay-container span {
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'Amatic SC', cursive;
}



.image-overlay-view-first .image-overlay-mask {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease-in-out;
}
.image-overlay-view-first p {
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.image-overlay-view-first span {
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}


.image-overlay-view-first a{
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}


.image-overlay-view-first:hover .image-overlay-mask {
    opacity: 1;
}

.image-overlay-view-first:hover p {
    opacity: 1;
    transform: translateY(0%);
}

.image-overlay-view-first:hover span {
    opacity: 1;
    transform: translateX(0%);
}


.image-overlay-view-first:hover a {
    opacity: 0.7;
    transform: translateX(0%);
}

.image-overlay-view-first:hover p {
    transition-delay: 0.1s;
}


