.slide.ng-enter, .slide.ng-leave {
    transition:0.2s linear all;
}
.slide.ng-enter {
    transform: translate(-100%, 0);
    opacity: 0;
}
.slide.ng-enter-active {
    transform: translate(0,0);
    opacity: 1;
}
.slide.ng-leave {
    transform: translate(0,0);
    opacity: 1;
}
.slide.ng-leave-active {
    transform: translate(100%, 0);
    opacity: 0;
}


.animate-back .slide.ng-enter {
    transform: translate(100%, 0);
    opacity: 0;
}
.animate-back .slide.ng-enter-active {
    transform: translate(0,0);
    opacity: 1;
}
.animate-back .slide.ng-leave {
    transform: translate(0,0);
    opacity: 1;
}
.animate-back .slide.ng-leave-active {
    transform: translate(-100%, 0);
    opacity: 0;
}

